.factory-container{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
}
.worker-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.summary{
    text-align: center;
    border: 2px solid #acacac;
    border-radius: 10px;
}