.worker-details{
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    margin: 10px 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.worker-details img{
    width: 280px;
    border-radius: 10px;
    height: 190px;
}
.age-time{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin-top: -20px;
    padding: 0px 15px;
}
button{
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #0fb964;
    color: white;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.5s;
    font-size: 14px;
    font-weight: 500;
}
button:hover{
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #03723a;
    color: white;
    padding: 8px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
