.main-conatiner{
    background-color: #ce6d13;
    width: 100%;
}
.nav-logo{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}
.logo{
    padding-left: 10px;
}
